flask
gunicorn
fairlearn==0.12.0
# lightfm==1.18
# git+https://github.com/lyst/lightfm.git@1.17
# lightfm==1.17 --no-use-pep517 --no-build-isolation
wheel
setuptools
surprise
numpy>=1.21,<2.0
joblib
nltk
pandas
Pillow
scikit_learn
scikit_surprise
tensorflow
torch
tqdm
transformers


