absl-py
astunparse
blinker
certifi
charset-normalizer
click
colorama
fairlearn
filelock
Flask
flatbuffers
fsspec
gast
google-pasta
grpcio
gunicorn
h5py
huggingface-hub
idna
itsdangerous
Jinja2
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
mpmath
namex
networkx
nltk
numpy>=1.21,<2.0
opt_einsum
optree
packaging
pandas
pillow
protobuf
Pygments
python-dateutil==2.9.0.post0
pytz
PyYAML
regex
requests
rich
safetensors
Cython
scipy
scikit-learn
surprise==0.1
tensorflow
tokenizers
torch
tqdm
transformers
